@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    text-align: center;
    flex-direction: column;
    font-family: "Roboto", serif;

}


.cabecalho {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.cabecalho img {
    width: 140px;
    height: 140px;
}

.logo-pizzaria {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.logo-pizzaria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 500px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    margin: auto;
}

.titulo {
    font-size: 1.8rem;
    color: #d32f2f;
    margin-bottom: 15px;
}

.descricao {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.campo-grupo {
    margin-bottom: 20px;
    border: none;
    padding: 0;
}

.legenda {
    font-size: 1.2rem;
    color: #d32f2f;
    margin-bottom: 10px;
}

.label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.input {
    width: 100%;
    padding: 8px; 
    font-size: 1rem;
    margin-bottom: 12px; 
    border: 1px solid #ddd;
    border-radius:20px;
    box-sizing: border-box;
}

.input:focus {
    border-color: #d32f2f;
    outline: none;
}

.botao {
    display: inline-block;
    background-color: #d32f2f;
    color: #fff;
    padding: 12px;
    width: 95%;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius:20px;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
}

.botao:hover {
    background-color: #b71c1c;
}

a {
    display: inline-block;
    background-color: #d32f2f;
    color: #fff;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    border-radius:20px;
    font-size: 1rem;
    margin-top: 10px;
    width: 95%;
}

a:hover {
    background-color: #b71c1c;
}
