@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    
body {
    font-family: 'Roboto', sans-serif;
    background: url('../img/v642-nap-26-fastfood.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1.2rem;
    text-align: left;
}

input, textarea {
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    background: #d32f2f;
    color: white;
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #b71c1c;
}